{% trans_default_domain 'translations' %}
    {%  extends '@!EshopSample/baseOther.html.twig' %}
    {% block content %}

        <div id="loaded-data" class="uk-container uk-width-1-1 uk-padding-remove uk-margin-remove" uk-grid>
            <h1>news</h1>
            <div class="news-wrap" uk-grid> 
                <div class="uk-width-3-4@m uk-width-1-1">
                    <article class="uk-article uk-background-muted uk-padding-small">
                        <a class="uk-article-title uk-link-reset" href="#">
                            <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(https://cdn.pixabay.com/photo/2015/07/28/20/55/tools-864983_960_720.jpg);">
                                <p class="uk-h4">new news news news newsnk</p>
                            </div>
                        </a>
                        <p class="uk-article-meta">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        <a href="#" class="uk-link uk-align-right">Читати</a>
                    </article>
                    <article class="uk-article uk-background-muted uk-padding-small">
                        <a class="uk-article-title uk-link-reset" href="#">
                            <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(https://cdn.pixabay.com/photo/2016/10/03/13/11/screw-1711601_960_720.jpg);">
                                <p class="uk-h4">new news news news newsnk</p>
                            </div>
                        </a>
                        <p class="uk-article-meta">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        <a href="#" class="uk-link uk-align-right">Читати</a>
                    </article>
                    <article class="uk-article uk-background-muted uk-padding-small">
                        <a class="uk-article-title uk-link-reset" href="#">
                            <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(https://cdn.pixabay.com/photo/2010/12/13/10/01/kit-2160_960_720.jpg);">
                                <p class="uk-h4">new news news news newsnk</p>
                            </div>
                        </a>
                        <p class="uk-article-meta">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        <a href="#" class="uk-link uk-align-right">Читати</a>
                    </article>
                    <article class="uk-article uk-background-muted uk-padding-small">
                        <a class="uk-article-title uk-link-reset" href="#">
                            <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(https://cdn.pixabay.com/photo/2015/07/28/20/55/tools-864983_960_720.jpg);">
                                <p class="uk-h4">new news news news newsnk</p>
                            </div>
                        </a>
                        <p class="uk-article-meta">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        <a href="#" class="uk-link uk-align-right">Читати</a>
                    </article>
                </div>
                <div class="uk-width-1-4@m "> 
                    <ul class="uk-list">
                        <li>
                            <a class="simple-btn uk-button uk-text-left uk-width-1-1" href="#" title="">Link 1</a>
                        </li>
                        <li>
                            <a class="simple-btn uk-button uk-text-left uk-width-1-1" href="#" title="">Link 1</a>
                        </li>
                        <li>
                            <a class="simple-btn uk-button uk-text-left uk-width-1-1" href="#" title="">Link 1</a>
                        </li>
                        <li>
                            <a class="simple-btn uk-button uk-text-left uk-width-1-1" href="#" title="">Link 1</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    {% endblock %}